


img { 

	position: absolute;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	
	}


img:hover { 
	position: relative;
	height: 400px;
	width: 400px;
	padding:0;
	}

.randomEmoji {
	position: absolute;
	height: 50px;
	width: 50px;
	}

