
@font-face {
    font-family: myFirstFont;
    src: url(CHbold.otf);
}
@font-face {
    font-family: mySecondFont;
    src: url(CHbook.otf);
}
@font-face {
    font-family: myThirdFont;
    src: url(CHlight.otf);
}


body {
	margin: 0px;
	padding: 0px;

  
}
.background {

	-webkit-filter: blur(3px);
	position: absolute;
	height: 100%;
	width: 160%;
	margin: 0px;
	padding: 0px; 
	}




.title {
	/*-webkit-filter: blur(0.5px);*/
	color: yellow;
	position: fixed;
	text-align: left;
	font-size: 25px;
	font-family: myFirstFont;
	line-height: 25px;
	left: 3%;
	top:6%;
	width: 700px;
}

.subTitle {
	/*-webkit-filter: blur(0.5px);*/
	/*color: rgb(244, 150, 202);*/
	color:yellow;
	position: fixed;
	text-align: left;
	font-size: 25px;
	font-family: mySecondFont;
	line-height: 25px;
	left: 3%;
	top:16%;
	width: 700px;
}

.text {
	/*-webkit-filter: blur(0.5px);*/
	
	color: yellow;
	position: fixed;
	text-align: justify;
	font-size: 18px;
	font-family: myThirdFont;
	line-height: 20px;
	left: 3%;
	top:25%;
	width: 520px;
	z-index:2;
}

.info {
	/*-webkit-filter: blur(0.5px);*/
	/*color: rgb(244, 150, 202);*/
	color:yellow;
	position: fixed;
	text-align: left;
	font-size: 20px;
	font-family: mySecondFont;
	line-height: 20px;
	left: 3%;
	top:85%;
	width: 700px;
}




.square1 {
	-webkit-filter: blur(2px);
	position: fixed;
	background-color: rgb(50,50,50);
	width: 100px;
	height: 100px;	
	left: 10%;
	top: 60%;
	border-radius: 100%;

	}

	/*.square1:hover {
	background-color: pink;
	}*/


.square2 {
	-webkit-filter: blur(2px);
	position: fixed;
	background-color: rgb(90,90,90);
	width: 100px;
	height: 100px;	
	left: 60%;
	top: 130px;
	/*border-radius: 100%;*/
	}

/*	.square2:hover {
	background-color: pink;
	}*/



.square3 {
	-webkit-filter: blur(2px);
	position: absolute;
	background-color: white;
	width: 70px;
	height: 70px;	
	left: 30%;
	top: 160px;
	border-radius: 100%;
	}

/*	.square3:hover {
	background-color: pink;
	}*/




.square4 {
	-webkit-filter: blur(2px);
	position: absolute;
	background-color: rgb(200,200,200);
	width: 40px;
	height: 40px;	
	left: 60%;
	top: 300px;
	border-radius: 100%;
	}

/*	.square4:hover {
	background-color: pink;
	}*/




.square5 {
	-webkit-filter: blur(2px);
	z-index:2;
	position: absolute;
	background-color: white;
	width: 120px;
	height: 120px;	
	left: 150%;
	top: 400px;
	border-radius: 100%;
	}

/*	.square5:hover {
	background-color: pink;
	}
*/


























