
@font-face {
    font-family: myFirstFont;
    /*src: url(silverfake.otf);*/
    src: url(cenconita.ttf);

}
@font-face {
    font-family: mySecondFont;
    src: url(cenbo.ttf);
  
}
@font-face {
    font-family: myThirdFont;
    src: url(belight.otf);
}

body {

	margin-left: 5%;
	width: 90%;
	color: black;
	margin-top: 5%;
	margin-bottom: 5%;
}


.line {

	  height: 1px;
	  background-color: black;
	  border-radius: 5px;
	  margin-top: 10px;
	  margin-bottom: 20px;
	  /*si les lignes et l'espace ne sont pas inclus dans les div, supprimer les margins*/

	}


.line:hover {
	  background-color: white;
	}



.square1 {	
	position: relative;
	text-align: left;
	/*font-size: 100px;*/
	font-size: 70px;
	font-family: myFirstFont;
	/*line-height: 80px;*/
	line-height: 55px;
	letter-spacing: -1px;
	width:  30%;
	
	}

	.square1:active {
	color: yellow;
	}

	.square1:hover {
	color: yellow;
	}


.square2 {

	display:none;
	position: relative;
	text-align: justify;
	font-size: 125px;
	font-family: mySecondFont;
	font-style: bold;
	line-height: 108px;
	padding-bottom: 0px;
	letter-spacing: -2px;
	}

	.square2:active {
	/*color: rgb(255, 255, 224);*/
	color: red;
	}



.square3 {
 	display:none;
	position: relative;
	text-align: justify;
	font-size: 50px;
	font-family: myThirdFont;
	line-height: 45px;
	padding-top:20px;
	/*padding-bottom:20px;*/
	/*top:10%;*/
	}

	.square3:active {
	/*color: rgb(150, 150, 150);*/
	color: orange;
	}


.square4 {
	
	display:none;
	position: relative;
	text-align: left;
	font-size: 100px;
	font-family: myFirstFont;
	line-height: 85px;
	padding-top:20px;
	letter-spacing: -1px;
	
	}

	.square4:active {
	/*color: rgb(30, 30, 30);*/
	color: rgb(244, 150, 202);
	}



.final {

	display: none;
	position: fixed;
	background-color: red;
	height: 300px;
	width: 300px;
	border-radius: 100%;
	left: 45%;
	top: 40%;
	
	}

	.final:active {
	color: yellow;
	}


a { text-decoration:none;
color: black; }
































