
@font-face {
    font-family: myFirstFont;
    /*src: url(silverfake.otf);*/
    src: url(robo.ttf);

}
@font-face {
    font-family: mySecondFont;
    src: url(rore.ttf);
  
}
@font-face {
    font-family: myThirdFont;
    src: url(belight.otf);
}

body {
	padding: 0%;
	margin: 0%;

}

pre {color: red;
	z-index: +2;}
img {position: relative;}

#background {
	position: absolute;
	width: 100vw;
	/*height:100%;*/
	z-index: -2; 
	/*margin-left: auto;
	margin-right: auto;
	padding: 10%;*/ 
	}

#text {
	/*display:none;*/
	position: fixed;
	width: 20%;
	margin-top: 5%;
/*	margin-bottom: 5%;*/
	margin-left: 5%;
	left: 2%;
	color: white;
	border-style: solid;
	/*border-color: white;*/
	border-width: 1px;
	/*height: 65%;*/
}


.line {

	  height: 0.5px;
	  background-color: black;
	  border-radius: 5px;
}

.line:hover {
	  background-color: white;
}


.square1 {	
	position: relative;
	text-align: left;
	font-size: 40px;
	font-family: myFirstFont;
	line-height: 35px;
	letter-spacing: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width:  30%;
	
	}

	.square1:active {
	color: yellow;
	}

	.square1:hover {
	color: yellow;
	}


.square2 {

	display:none;
	position: relative;
	text-align: left;
	font-family: mySecondFont;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	}

	.square2:active {
	color: rgb(255, 255, 224);
	}



.square3 {
 	display:none;
	position: relative;
	text-align: left;
	font-family: helvetica;
	font-size: 10px;
	line-height: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:10px;
	}

	.square3:active {
	/*color: rgb(150, 150, 150);*/
	color: orange;
	}


.square4 {
	
	display:none;
	position: relative;
	text-align: left;
	font-size: 20px;
	font-family: myFirstFont;
	line-height: 20px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: -1px;
	
	}

	.square4:active {
	/*color: rgb(30, 30, 30);*/
	color: rgb(244, 150, 202);
	}



.final {

	display: none;
	position: fixed;
	background-color: red;
	height: 300px;
	width: 300px;
	border-radius: 100%;
	left: 45%;
	top: 40%;
	
	}

	.final:active {
	color: yellow;
	}


#circle {
	position: fixed;
	top: 10%;
	left: 20%;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	z-index: +2;
}
































